@page
@model IndexLoggedInModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Loged In</h3>
    <br />
    <h2>
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Log out</a>
    </h2>
    <h2>
        <a class="nav-link text-dark" asp-area="" asp-page="/Contacts/index">Contacts</a>
    </h2>
</div>


